.groupName {
  font-size: 1.25rem;
}

.specificationName {
  font-weight: bold;
}

.specificationValue--summarySpecificationText {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: .750rem;
}