.headingLevel5--specifications-title_pdp {
  color: #39b54a;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.container--shelfTitle_pdp {
  display: flex;
  justify-content: center;
}

.headingLevel2--shelfTitle_pdp {
  color: #fff;
}
