.flexRowContent--contact {
  max-width: 700px;
  margin: auto;
}

.flexRowContent--contact :global(.vtex-input__label),
.flexRowContent--contact :global(.vtex-textarea__label) {
  font-size: 1rem;
  color: #3f3f40;
}

.flexRowContent--contact :global(.vtex-input),
.flexRowContent--contact :global(.vtex-textarea) {
  display: block;
  margin-bottom: 1rem;
}


/* FOOTER */

.flexRowContent--menu-row {
  align-items: flex-start;
}

.flexCol--footer-logo {
  gap: 1.5rem;
}

.flexRowContent--credits {
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  margin-top: 2rem;
}

@media (max-width: 40em) {
  .flexRowContent--credits {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    justify-content: center;
  }
}
