.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.footerLayout {
  background-color: #0b1a2a; 
  color: #bdbdbd; 
  padding-bottom: 2rem;
}