.styledLinkContent--nav-item {
    color: #ffff;
    padding: 10px;
}

.styledLinkContent--nav-item:hover {
    border: 0.5px solid none;
    border-radius: 10px;
    background-color: #1D2731;
    transform: all 0.5s ease;
}

.submenuWrapper--submenu-container {
    background-color: #0A1520;
    border-radius: 10px;
}